
# Author     KMS - Martin Dubois, P.Eng.
# Copyright  (C) 2020 KMS. All rights reserved.
# Product    HTML_Interface
# File       .gitignore

/.vs/
/Import/
/KmsDoc/
/doxygen_en/

Debug/
Release/

*.vcxproj.user
